body{
  background: #ee9ca7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.main{
  height: 500px;
  width: 500px;
  border: 2px solid black;
}
.card{
  height: 300px;
  width: 200px;
  border: 5px solid rgb(68, 0, 255);
  display: flex;
  flex-wrap: wrap;
  background-image: url(../../../../Pages/Assignment/ASSETS/Smit\ Logo.png);
}
nav{
  background-color: chartreuse;
  display: flex;
}