h1{
    table-layout: auto;
    background-color: rgb(50, 205, 184);
    border:3px solid rgb(0, 0, 0);
    align-content: center;
    text-decoration: underline;
    text-align: center;
    text-transform: capitalize;
    
}
ol {
  background: #ff9999;
  padding: 20px;
}

ul {
  background: #41e699;
  padding: 20px;
}

ol li {
  background: #1b1313;
  color: rgb(131, 87, 87);
  padding: 5px;
  margin-left: 35px;
}

ul li {
  background: #4ca580;
  color: rgb(36, 18, 18);
  margin: 5px;
}

#t1{
    background-color: rgb(216, 219, 44);
    color: black;
    
} 
#t2{
    background-color: rgb(216, 219, 44);
    color: black;
}
#t3{
   background-color: rgb(216, 219, 44);
   color: rgb(0, 0, 0);
}
#t4{
background-color: rgb(216, 219, 44);
color: black;
}
#t5{
background-color: rgb(216, 219, 44);
color: black;
}
#t6{
    background-color: rgb(216, 219, 44);
color: black;
}
.main{
 background-color: rgb(255, 10, 10);
 color: black;
}
    

div{
    table {
        width: 50%;
      }
      
      th {
        height: 70px;
      } 
    vertical-align: baseline ;
}
#d2{
    background-color: lightgray;
}
#d3{
    background-color: lightgray;
}
#d4{
    background-color: lightgray;
}
#d5{
    background-color: lightgray;
}
#d6{
    background-color: lightgray;
}


